*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background:BLACK;
}
nav{
    color: #ffff;
    text-align: right;
    background:none;
    height:630px;
    background:linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ),url(img8.jpg);
    background-position: center;
    background-size: cover;
}
nav, ul{
    list-style-type: none;
}
li{
    display:inline-block;
    margin: 10px;
    text-transform: uppercase;
   
}
li a{
    padding:5px;
    text-decoration: none;
    color: white;
}
.nav-container{
    text-align: left;
    margin-top: 10em;
    margin-left: 70px;
    line-height: 2;
    letter-spacing: 2px;
}
.content a{
    text-decoration: none;
    padding: 15px;
    border:1px solid gold;
    letter-spacing: 2px;
    color: white;
}
#services{
    background: #fff;
    color: black;
    min-height: 400px;
}

.services-container{
    display:grid;
    margin-right: 50px;
    color: black;
    margin-left: 50px;
    text-align: center;
    grid-gap: 1rem;
    grid-template-areas:
    'services-details services-details services-details'
    'services1 services2 services3';
}

.services-details{
    margin-top:30px; 
    grid-area: services-details;
}

.services1{
grid-area: services1;
margin-top:20px;
border: 2px solid gold;
padding: 40px;
}
.services2{
    grid-area: services2;
    margin-top:20px;
    border: 2px solid gold;
    padding: 40px;
}
.services3{
    grid-area: services3;
    margin-top:20px;
    border: 2px solid gold;
    padding: 40px;
}

#portfolio-section{
    min-height: 300px;
}
.portfolio-content{
    display: grid;
    color: gold;
    grid-gap:1rem;
    text-align: center;
    margin-right: 50px;
    margin-left: 50px;
    grid-template-areas: 
    'header-portfolio header-portfolio header-portfolio'
    'portfolio1 portfolio2 portfolio3'
}

.header-portfolio{
    grid-area: header-portfolio;
    text-align: center;
    margin-top: 10px;
}

.portfolio1{
    grid-area:portfolio1;
    border: 1px solid #fff;
    padding: 50px;
}
.portfolio2{
    grid-area:portfolio2; 
    border: 1px solid #fff;
    padding: 50px;
}
.portfolio3{
    grid-area:portfolio3;
    padding: 50px; 
    border: 1px solid #fff;
}
#contact-form{
    background: #fff;
    min-height:500px;
}

.contact-container{
    display: grid;
    color:gold;
    margin-right: 50px;
    grid-gap: 1em;
    margin-left: 50px;
    grid-template-areas: 
    'about-section contact'
}

.contact{
    grid-area: contact;
    margin-top: 50px;
    padding:40px;
    margin-right: 100px;
    /* border: 1px solid gray; */
}

.about-section{
    grid-area: about-section;
    text-align: center;
    /* background: black; */
    color: black;
    border: 3px solid gold;
    max-width: 700px;
    max-height: 400px;
    overflow:scroll;
    margin-top:50px;
    padding: 10px;
}

.form-group label{
    display: block;
    margin-top:10px;
}
.form-group a{
    background: black;
    padding: 10px;
    text-decoration: none;
    color: gold;
    border:1px solid rgb(170, 218, 95);
}
.form-group input{
  padding:10px;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid blue;
  background:black;
  color:white;
  /* border-radius: 10px; */
}
#submit-doc{
    margin-top: 20px;
}

.about-content p{
    margin-top: 10%;
}
#tech{
    color: #fff;
}

.languages-content{
    display: grid;
    grid-gap: 1rem;
    margin-left: 20px;
    grid-template-areas: 
    'figure1 figure2 figure3'
}

#figure1{
    grid-area: figure1;
    border: 1px solid gold;
    text-align: center;
    max-width:370px;
    margin-top:10px;
}

#figure2{
    grid-area: figure2;
    border: 1px solid gold;
    text-align: center;
    max-width:370px;
    margin-top:10px;
}

#figure3{
    grid-area: figure3;
    border: 1px solid gold;
    text-align: center;
    max-width:370px;
    margin-top:10px;
}

summary{
    text-align:left;
    margin: 20px;
}

.languages h4{
    text-align: center;
    margin-top: 20px;
}

.languages p{
    padding: 5px;
}

#tech{
    min-height: 400px;
}

footer{
    background: #fff;
}

.form-group input:focus{
    background: rgb(203, 236, 247);
  }

  textarea{
      background:black;
      /* border-radius: 15px; */
      color: #fff;
  }

  footer a{
      text-align: center;
     color: black;
     border-radius: 50%;
     border:1px solid gold;
    /* padding: px; */
  }

  /* footer a:hover{ 
      color:rgb(7, 171, 226);
  } */

  .fa-facebook-f:hover{
      color: blue;
  }
 .fa-youtube:hover{
     color: red;
 }
  a .fa-twitter:hover{
    color:rgb(7, 171, 226);
 }